nav.navbar
  h1.logo QuickShop
  ul.nav-links
    li: a(href="/") Home
    li: a(href="/about") About
    li: a(href="/contact") Contact
    li: a(href="/products") Products
    if loggedIn
      if userRole !== "retailer"
        li: a(href="/cart") Cart
      li: a(href="/profile") Profile
      li: a(href="/logout") Logout
    else
      li: a(href="/login") Login
      li: a(href="/register") Register
