nav.navbar.product-navbar
  h1.logo QuickShop
  ul.nav-links
    if userRole === "retailer"
      li: a(href="/retailer/dashboard") Dashboard
      li: a(href="/retailer/products") Products
    else
      li: a(href="/products") Products
      li: a(href="/cart") Cart
      li: a(href="/orders") Orders
    li: a(href="/profile") Profile
    li: a.logout-link(href="/logout") Logout
